<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
<nav class="site-nav">
  <a href="#" class="menu-icon">
    <svg viewBox="0 0 18 15">
      <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
    </svg>
  </a>

  <div class="trigger">
    <a class="page-link" href="{{ site.baseurl }}/">Home</a>

    {% for page in site.pages %}
      <!-- Button for Posts -->
      {% if page.title == 'Posts' %}
        {% if page.url contains 'page' %}
        {% else %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endif %}

    {% endfor %}
  </div>
</nav>
